.container {
  width: 390px;
  flex: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  margin-left: 70px;
  span {
    margin: 0 40px;
  }
}
.contents {
  display: flex;
  flex-direction: row;
}
.titleColumn {
  display: flex;
  flex-direction: column;
  width: 90px;
  padding-top: 5px;
  span {
    height: 32px;
  }
}
.chart {
  background-image: url("/vowel-trapezoid.png");
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 5px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    &:nth-child(2) {
      padding-left: 15px;
    }
    &:nth-child(3) {
      padding-left: 30px;
    }
    &:nth-child(4) {
      padding-left: 45px;
    }
    &:nth-child(5) {
      padding-left: 60px;
    }
    &:nth-child(6) {
      padding-left: 75px;
    }
    &:nth-child(7) {
      padding-left: 90px;
    }
    span {
    }
  }
}
