.codeBlock {
  padding: 5px;
  display: none;
  &.open {
    display: block;
  }
}
.controls {
  max-width: 48px;
  display: inline-flex;
  gap: 12px;
  padding: 12px 16px;
}
.phraseBlock {
  padding-top: 24px;
  padding-bottom: 32px;
  p {
    margin-bottom: 0;
  }
  margin-top: 24px;
  margin-bottom: 24px;
}
