.FormTable {
  border-width: 1px;
  border-color: gray;
  border-collapse:collapse;
  background-color: transparent;

  th {
    border-width: 1px;
    padding: 3px 6px;
    border-style: inset;
    border-color: gray;
  }

  td {
    border-width: 1px;
    padding: 3px 6px;
    border-style: inset;
    border-color: gray;
  }
}
