.App {
  display: flex;
  flex-direction: column;
  color: #FFB394;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
h1, h2 {
  color: #92C778;
}
nav {
    display: flex;
    flex-direction: row;
}
nav .navBtn {
  font-size: 16px;
  color: #FFB394;
  border: 0;
  padding: 10px;
  background: none;
  text-decoration: none;
}
nav .navBtn:hover {
  background: none;
}
nav .navBtn.active {
  background: #226;
}
nav .navBtn:focus {
  color: #FFB394;
}
section {
  line-height: 24px;
}
.sentenceBlock {
  padding-bottom: 15px;
  border-bottom: 1px solid #7C3B38;
}
.sentenceBlock p {
  margin-bottom: 5px;
}
.codeBlock {
  margin: 10px;
  padding: 10px;
  font-size: 10px;
  background: #226;
  line-height: 14px;
  display: none;
}
.open {
  display: block;
}
input, select {
  border: 1px solid #99e;
  background-color: #bbe;
  color: #447;
  border-radius: 2px;
  padding: 2px 4px;
  margin-right: 8px;
  line-height: 17px;
}
input:focus, select:focus {
  border-color: #44c;
  background-color: #b3b3ee;
  color: #448;
  outline: none;
}
button {
  border: 1px solid #e99;
  background-color: #FFC3B4;
  color: #AC4B48;
  border-radius: 2px;
  padding: 2px 4px;
}
button:hover {
  border-color: #FF9894;
  background-color: #EFB394;
}
button:focus {
  border-color: #FF9894;
  background-color: #EFB394;
  color: #AC4B48;
  outline: none;
}
.originalSentence {
  font-style: italic; 
}
