.App {
  display: flex;
  flex-direction: column;
  color: #ffb394;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
footer {
  width: 100%;
  background-color: #447;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffb394;

  .navBtn {
    margin: 0 10px;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: #df7364;
    &:hover {
      color: #AC4B48;
      text-decoration: underline;
    }
    &.active {
      color: #AC4B48;
    }
  }
}
